html {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #03051c;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
a:active {
  color: #34afbe;
}
.menu__content {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
#menu{
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: #03051c;
  box-shadow: 0px 0px 15px -3px #00000042;
  z-index: 1;
  transition: all .3s ease;
}
.menu__list {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}
.menu__link {
  color: #ffffff;
}
.portada__nombre h1 {
  margin: 0;
  font-weight: 400;
}
.portada__nombre h1 span {
  color: #34afbe;
  font-size: 4rem;
  font-weight: 600;
}
.portada__nombre p {
  font-size: 1.2rem;
  font-weight: 400;
}
.portada__nombre p span {
  color: #34afbe;
  font-size: 1.2rem;
  font-weight: 600;
}
.portada__nombre hr {
  margin: 0;
}

.second {
  display: none;
}
.portada {
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  padding: 40px;
  max-width: 1024px;
}

.portada__nombre {
  width: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.portada__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  background-color: #242635;
  border-radius: 50%;
}

.portada__icon i {
  border-radius: 50%;
  background: #ffffff;
  color: #242635;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-right: 0.7rem;
}

.experiencia__content {
  margin: 0 auto;
  background-color: #242635;
  padding: 35px;
  border-radius: 5px;
  max-width: 900px;
  width: 80%;
}

.experiencia__icon {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.icon--style {
  font-size: 5rem;
  color: #242635;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 40px;
}
.content {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.title {
  text-align: center;
  color: #34afbe;
}
.contacto__content {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.contacto__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.contacto__icon {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
}

.contacto__info h3 {
  font-size: larger;
  color: black;
  margin: 0;
}

.contacto__info p {
  font-size: medium;
  color: #aeaeae;
  margin: 0;
}

.icon--color {
  color: #34afbe;
  font-size: 7rem;
}

.servicios__content {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.servicios__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.servicios__icon {
  padding: 40px 5px;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  width: 225px;
}
.servicios__info h3 {
  font-size: larger;
  color: black;
}

.servicios__info p {
  font-size: small;
  color: #aeaeae;
}

.icon--color {
  color: #34afbe;
  font-size: 7rem;
}

.mis-habilidades__bar {
  font-weight: 600;
  width: 100%;
}

/* Fallback technique styles */
.progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  width: 100%;
  height: 20px;
}

.progress-bar span {
  background-color:royalblue;
  border-radius: 3px;
  display: block;
  text-indent: -9999px;
}

p[data-value] {
  position: relative;
}

p[data-value]:after {
  content: attr(data-value) "%";
  position: absolute;
  right: 0;
}

progress.html5 {
  width: 800px;
  height: 40px;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 40px;
  color: #34afbe;
}

.copyright i {
  color: #34afbe;
}

.acerca-de-mi__description {
  text-align: center;
  padding: 0 15px;
}

.menu__icon {
  font-size: 28px;
}
@media (min-width: 768px) {

  .menu--close {
    display: none;
  }

  .menu__list {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .menu--open {
    display: none;
  }
}

.mi-portafolio__proyects{
  max-width: 1024px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px;
}

.mi-portafolio__proyects img{
  width: 330px;
}

@media (max-width: 769px) {
  .content {
    margin: 20px;
  }

  .portada {
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 30px 40px;
  }
  .portada__content {
    width: 400px;
    height: 400px;
    background-color: #242635;
    border-radius: 50%;
  }
  .portada__imagen img {
    width: 265px;
  }

  .portada__icon i {
    border-radius: 50%;
    background: #ffffff;
    color: #242635;
    font-size: 1rem;
    padding: 0.3rem;
    margin-right: 1.2rem;
  }

  .experiencia__content {
    width: 80%;
    padding: 20px;
  }

  .experiencia__icon {
    gap: 5px;
  }

  .icon--style {
    font-size: 1rem;
    color: #242635;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px 18px;
  }
  .portada__nombre {
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
    margin: 15px 0 5px 0;
  }
  .portada__nombre h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: -10px;
    line-height: 0.5;
  }

  .portada__nombre hr {
    margin: 20px 0 0 0;
  }
  .portada__nombre p span {
    color: #34afbe;
    font-size: 1.2rem;
    font-weight: 600;
  }
 
  .portada__nombre p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 20px;
  }
  .menu__content{
    display: block;
    align-content: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: #03051c;
    padding: 40px 0 40px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 15px -3px #00000042;
    transition: all .3s ease;
  }
  .menu__list {
    display: block;
    list-style: none;
    text-align: center;
  }
  .menu__icon {
    display: flex;
    justify-content: end;
    padding: 10px 20px;
  }
  .menu__content.show--menu {
    top: 0;
  }
  .menu--close {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 20px;
    cursor: url(https://img.icons8.com/stickers/32/000000/hand-cursor.png), auto;
  }

  .menu--open {
    margin-right: 20px;
    cursor: url(https://img.icons8.com/stickers/32/000000/hand-cursor.png), auto;

  }
  progress.html5 {
    width: 300px;
    height: 30px;
  }

  .icon--style {
    font-size: 3rem;
  }
  .first {
    opacity: 0;
  }
  .second {
    display: inherit;
    width: 250px;
  }

  .portada__nombre h1 span {
    font-size: 3rem;
  }
  .salto {
    display: none;
  }

  .mi-portafolio__proyects img{
    width: 80%;
  }
}

@media (max-width: 369px) {
.icon--style {
  font-size: 2.2rem;
}
.copyright {
  font-size: 0.8rem;
}
progress.html5 {
  width: 250px;
  height: 30px;
}
.portada {
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px 30px 40px;
 
}

.portada__content {
  width: 300px;
  height: 300px;
  background-color: #242635;
  border-radius: 50%;
}
.portada__imagen img {
  width: 200px;
}

.portada__nombre {
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: center;
  margin: 0;
}
.portada__nombre h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: -10px;
  line-height: 0.5;
}

.portada__nombre hr {
  margin: 20px 0 0 0;
}
.portada__nombre p span {
  color: #34afbe;
  font-size: 0.8rem;
  font-weight: 600;
}
.portada__imagen img {
  width: 200px;
}
.portada__nombre p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 20px;
}

}